<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
    <title>Techincal Documentation</title>
</head>
<body>
    <nav id="navbar">
        <header>JS Documentation Modified</header>
        <ul class="menu">
            <li class="nav-links"><a class="nav-link" href="#Introduction">Introduction</a></li>
            <li class="nav-links"><a class="nav-link" href="#JavaScript_and_Java">JavaScript and Java</a></li>
            <li class="nav-links"><a href="#Hello_World" class="nav-link">Hello World</a></li>
            <li class="nav-links"><a href="#Variables" class="nav-link">Variables</a></li>
            <li class="nav-links"><a href="#Declaring_Variables" class="nav-link">Declaring Variables</a></li>
        </ul>
    </nav>
    <main id="main-doc">
        <section class="main-section" id="Introduction">
          <header class="title">Introduction</header> 
        <article class="content">
          <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellendus facilis nulla exercitationem, quod, earum suscipit expedita quia delectus obcaecati maiores ea fuga. Facilis eum beatae fugiat excepturi facere eius?</p>
          <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellendus facilis nulla exercitationem, quod, earum suscipit expedita quia delectus obcaecati maiores ea fuga. Facilis eum beatae fugiat excepturi facere eius?</p>
          <pre class="code-section">
              <code class="code">
                function greetMe(yourName) { alert("Hello " + yourName); }
                greetMe("World"); 
              </code>
          </pre>
          <p>The list that we have is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quibusdam asperiores fugiat provident nostrum nam illum iste repudiandae recusandae rem sequi, a quis accusamus blanditiis odit suscipit. Asperiores, similique laudantium?</p>
          <ul class="list">
              <li>Number 1</li>
              <li>Number 2</li>
              <li>Number 3</li>
              <li>Number 4</li>
              <li>Number 5</li>
          </ul>
        </article>
        </section>
        <section class="main-section" id="JavaScript_and_Java">
            <header class="title">JavaScript and Java</header>
            <article class="content">
                <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellendus facilis nulla exercitationem, quod, earum suscipit expedita quia delectus obcaecati maiores ea fuga. Facilis eum beatae fugiat excepturi facere eius?</p>
                <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellendus facilis nulla exercitationem, quod, earum suscipit expedita quia delectus obcaecati maiores ea fuga. Facilis eum beatae fugiat excepturi facere eius?</p>
                <pre class="code-section">
                    <code class="code">
                      function greetMe(yourName) { alert("Hello " + yourName); }
                      greetMe("World"); 
                    </code>
                </pre></article>
        </section>
        <section class="main-section"  id="Hello_World">
            <header class="title">Hello World</header>
            <article class="content">
                <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellendus facilis nulla exercitationem, quod, earum suscipit expedita quia delectus obcaecati maiores ea fuga. Facilis eum beatae fugiat excepturi facere eius?</p>
                <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellendus facilis nulla exercitationem, quod, earum suscipit expedita quia delectus obcaecati maiores ea fuga. Facilis eum beatae fugiat excepturi facere eius?</p>
                <pre class="code-section">
                    <code class="code">
                      function greetMe(yourName) { alert("Hello " + yourName); }
                      greetMe("World"); 
                    </code>
                </pre>
                </article>
        </section>
        <section class="main-section" id="Variables">
            <header class="title">Variables</header>
            <article class="content">
                <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellendus facilis nulla exercitationem, quod, earum suscipit expedita quia delectus obcaecati maiores ea fuga. Facilis eum beatae fugiat excepturi facere eius?</p>
                <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellendus facilis nulla exercitationem, quod, earum suscipit expedita quia delectus obcaecati maiores ea fuga. Facilis eum beatae fugiat excepturi facere eius?</p>
                <pre class="code-section">
                    <code class="code">
                      function greetMe(yourName) { alert("Hello " + yourName); }
                      greetMe("World"); 
                    </code>
                </pre></article>
        </section>
        <section class="main-section" id="Declaring_Variables">
            <header class="title">Declaring Variables</header>
            <article class="content">
                <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellendus facilis nulla exercitationem, quod, earum suscipit expedita quia delectus obcaecati maiores ea fuga. Facilis eum beatae fugiat excepturi facere eius?</p>
                <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repellendus facilis nulla exercitationem, quod, earum suscipit expedita quia delectus obcaecati maiores ea fuga. Facilis eum beatae fugiat excepturi facere eius?</p>
                <pre class="code-section">
                    <code class="code">
                      function greetMe(yourName) { alert("Hello " + yourName); }
                      greetMe("World"); 
                    </code>
                </pre></article>
        </section>
    </main>
</body>
</html>
